body {
    background-color: rgb(31, 33, 40);
    margin: 0px;
}

body > iframe {
    --border-size: 8px;

    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: calc(100% - var(--border-size) * 2);
    height: calc(100% - var(--border-size) * 2);
    border: var(--border-size) solid #000;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: -1;
}

::-webkit-scrollbar {
    display: none;
}
